    <nav class="navbar navbar-inverse">
      <ul>
      <li> Rodeos </li>
      <li> Cowboys </li>
      <li> Tex-Mex </li>
    </ul>
    </nav>
    <div class="page-header">
      <h1>Howdy <small>from Texas</small></h1>
        <%= image_tag 'bigtexas.jpg' %>
    </div>

    <div class="panel panel-default">
      <div class="panel-body">
          <p> Kitsch wolf listicle, fap id meditation delectus PBR&B Truffaut typewriter keytar mustache. Aliqua brunch cold-pressed Pinterest exercitation. Deep v exercitation aliquip vegan accusamus freegan. Irure disrupt viral sustainable, meh Carles enim seitan tofu selfies. Williamsburg cray literally sapiente keytar beard, nisi banh mi pop-up velit officia paleo. Vegan pug squid, kitsch dreamcatcher migas mustache gluten-free craft beer Brooklyn. Tattooed wayfarers slow-carb, excepteur tempor salvia shabby chic authentic cornhole Wes Anderson hoodie delectus labore church-key.</p>
      </div>
    </div>
